/node_modules
/public/hot
.idea/workspace.xml
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
